body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-color: #0097a7;
}

.card {
	margin: 20% auto;
	width: 80vw;
	height: 50vh;
	border-radius: 10px;
}

.card-title {
	font-size: 3rem !important;
	font-weight: bold !important;
	font-family: 'Bangers', cursive;
	color: #ff7043;
}

.time {
	font-size: 1.5rem;
	padding: 90px;
	font-family: 'Lobster', cursive;
}
